<% include layout/header.ejs %>

<h3>Hello!</h3>

<!--
  <a href="/create">Add</a>

  <ul>


    <% posts.forEach(function(post) { %>


    <b><li><%= post.title %></li></b>


    <li><%= post.body %></li>


    <br />


    <% }); %>


  </ul>
-->

<% include layout/footer.ejs %>
